.lable_Ctg {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}
.ctg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.open-modal-btn-sub {
  background: #007bff;
  width: 100%;
  font-size: 0.8rem;
}
.subcategory-card {
  color: #fff;
  width: 200px;
  padding: 0.6em;
  background: #014288;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
