.navbar {
  background-color: #0b3899;
  color: white;
  padding: 1.5em;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed; /* Keeps the navbar fixed at the top */
  top: 0; /* Position it at the very top */
  width: 100%; /* Make it span the entire width */
  z-index: 1000; /* Ensures it stays above other content */
}

.nav-content ul {
  list-style: none;
  display: flex;
}

.nav-content ul li {
  margin-left: 20px;
}

.nav-content ul li a {
  text-decoration: none;
  color: white;
}

.nav-content ul li a:hover {
  text-decoration: underline;
}

/* Add padding to the body to prevent content from hiding behind the navbar */
body {
  padding-top: 60px; /* Adjust based on your navbar height */
}
