.navbar {
  background-color: #0b3899;
  color: white;
  padding: 1.5em;
  display: flex;
  justify-content: end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-content ul {
  list-style: none;
  display: flex;
}

.nav-content ul li {
  margin-left: 20px;
}

.nav-content ul li a {
  text-decoration: none;
  color: white;
}

.nav-content ul li a:hover {
  text-decoration: underline;
}

body {
  padding-top: 60px;
}
.nav-content ul li a svg {
  color: white;
}

.nav-content ul li a:hover svg {
  color: #ddd;
}
