.hero {
  margin-left: 230px;
  height: calc(100vh - 63px);
  background-color: #121212;
  overflow: auto;
  padding: 1rem;
}

.hero_context {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.hero_context h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: #6366f1;
}

.hero_context p {
  font-size: 1.1rem;
  margin-bottom: 0.8em;
  line-height: 1.7;
  color: #fff;
  text-align: start;
}

.btn {
  padding: 1em 0.8em;
  font-size: 1rem;
  background-color: #0b3899;
  color: white;
  width: 35%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.hero_image {
  display: flex;
  height: auto;
  margin-top: 1.5rem;
}
.hero_image img {
  width: 90%;
  border-radius: 1em;
}
@media screen and (max-width: 768px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: auto;
    padding: 2em 0;
  }

  .hero_context {
    padding: 0 1rem;
  }

  .hero_context h1 {
    font-size: 2rem;
  }

  .hero_context p {
    font-size: 1rem;
    text-align: center;
  }

  .btn {
    width: 60%;
    margin: 0 auto;
  }

  .hero_image {
    justify-content: center;
  }
}
