.hero {
  width: 75%;
  margin-left: 20em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  min-height: 80vh;
}

.hero_context {
  width: 70%;
}

.hero_context h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.hero_context p {
  font-size: 1.1rem;
  margin-bottom: 0.8em;
  line-height: 1.7;
  color: #2c2c2c;
}

.btn {
  padding: 0.5em 0.8em;
  font-size: 1rem;
  background-color: #0b3899;
  color: white;
  width: 30%;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.3s ease;
}

.hero_image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.hero_image img {
  width: 100%;
  border-radius: 1em;
}
