* {
  border: 0;
}
.login {
  min-width: 300px;
  max-width: 400px;
  margin: 0.8em auto 0;
  background: #fff;
  width: 40%;
  padding: 0.8em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8em;
}
h2 {
  font-size: 2rem;
  margin: 0.6em 0;
  text-align: center;
}
input {
  width: 100%;
  padding: 1em 1.5em;
  margin: 0.4em 0;
  border-radius: 1em;
  border: 1px solid #0b3899;
}
input::placeholder {
  font-weight: 500;
  color: #0b3899;
}
button {
  width: 70%;
  background: #0b3899;
  padding: 0.8em 1.5em;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  margin: 1em 0;
  border-radius: 1em;
  cursor: pointer;
  margin-bottom: 0;
}
p {
  font-size: 0.8rem;
}
p span {
  font-weight: 600;
  color: #0b3899;
  text-decoration: none;
}
